/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/

#whereAreWe
{
	height:auto;
	padding-bottom:4em;
	width:100%;
	background: $primary-color;
	font-weight: 300;

	.mapsWrapper
	{
		padding:3em 1em 0 2em;
	}

	.rightSideMaps
	{
		color:$font-primary;
		padding-top:4em;
		padding-bottom: 3em;

		h1
		{
			border-bottom:1px solid $font-primary;
			width:80%;
			font-weight: 400;
		}

		p
		{
			margin-top:3em;
		}
	}
}

#headerTouristAttraction
{
	width:100%;

	.panelHeaderTouristAttraction
	{
		height:auto;
		background:$secondary-color;
		margin-top:-7vh;
		padding:1.7em 0 1.7em 2em;
		box-shadow: 7px 12px 62px -12px rgba(0,0,0,0.75);

		h1
		{
			font-size: 42px;
			font-weight: 300;
		}
	}
}

.popup
{
	position: relative;
	background: #FFF;
	padding: 20px;
	padding-top:3em;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

#touristAttraction
{
	margin-top:auto;
	height:auto;
	padding-bottom:4em;

	.panel
	{
		float:left;
		padding:0 2em 0 2em;
		height:100%;
	}

	.leftSideTourist
	{
		width:50%;
		padding:0 2em 0 2em;
		float:left;
	}

	.rightSideTourist
	{
		width:50%;
		padding:0 2em 0 2em;
		float:left;
	}

	.touristLeft
	{
		height:auto;
		text-overflow:ellipsis;

		h1
		{
			font-weight: 400;
			border-bottom:1px solid #000;
			width:100%;
			padding-left:0.2em;
			margin-bottom: 1em;
		}

		.wordwrapper
		{
			margin-top: 3em;
			text-align: justify;
		}

		
	}

	.imageTourist
	{
		margin-top:3em;
		height:250px;
		width:100%;
		background-size: cover !important;
	}
	
	button
	{

		.slick-prev, .slick-next, .slick-arrow
		{
			color:#000;
			background:#000;

		}
		
	}
}

#scattered
{
	padding-top: -10em;
	height:60vh;
	overflow: hidden;
	width:100%;
	background: $primary-color;

	#photostack-2
	{
		height:60vh;
		background:$primary-color;
	}
}