@media screen and (max-width: 1200px) 
{ 
	//For Home
	#pageTwo
	{
<<<<<<< HEAD
		height:145vh;
=======
		height:170vh;
>>>>>>> origin/master

		.bookingPanel
		{
			height:1180px !important;
		}
	}

<<<<<<< HEAD
	.bigLogoNav
	{
		display:none !important;
	}

	.noLogoNav
	{
		display:block !important;
	}

	#navigation
	{
		padding:1em 2em 1em 2em;
=======
	#navbar
	{
		margin:0;
		border:0;
		background: #fff;
		padding:1em;
		width:100vh;
	}

	#pageFour
	{
		height: 65vh;
	}

	.bigLogo
	{
		display: none !important;
	}


	#navigation
	{
		padding:1em 2em 1em 2em;
		min-height:4vh;
>>>>>>> origin/master
	}

	#headerBusiness
	{
<<<<<<< HEAD
		height:50vh;
=======
		height:auto !important;
>>>>>>> origin/master
	}

	#packages
	{
		height:auto;
		padding: 3em 0 2em 0;

		.packageImage
		{
			margin: auto;
			width:100%;
		}

		p
		{
			margin-top:2em;
		}
	}

	#whereAreWe
	{
		.rightSideMaps
		{
			padding:5em 2em 0 2em;
		}
	}

	#headerTouristAttraction
	{
		.panelHeaderTouristAttraction
		{
<<<<<<< HEAD
			height: 15vh;
=======
			height: auto;
>>>>>>> origin/master
			width:auto;
		}
	}	

	#weddings
	{
		padding-left:2em;
		padding-right:2em;
	}

	#birthdays
	{
		padding-left:2em;
		padding-right:2em;
	}

<<<<<<< HEAD
=======
	#roomDetails
	{
		.room
		{
			height:auto;
			font-weight: 300;
			padding-bottom: 2em;
			font-weight: 300;

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
					margin-bottom: 2em;
				}
			}

			.headerPanelRoomText
			{
				padding:0 2vh 0 2vh;
			}
		}
	}
	
>>>>>>> origin/master
	// Global
	#footer
	{
		height: auto;

		.rightPanel
		{
			padding-left: 5vh;
		}
	}
}

@media screen and (max-width: 992px)
{
	#headerRooms
	{
		.panelHeaderRooms
		{
			height:25vh;
			padding-top:2.5em;
		}
	}

	#roomDetails
	{
		.room
		{
			height:65vh;
			font-weight: 300;
<<<<<<< HEAD
=======
			padding-bottom: 1em;
>>>>>>> origin/master

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
<<<<<<< HEAD
=======
					margin-bottom: 1em;
>>>>>>> origin/master
				}
			}

			.headerPanelRoomText
			{
				padding:0 2vh 0 2vh;
			}
		}
	}

<<<<<<< HEAD
	#headerBusiness
=======
	 #headerBusiness
>>>>>>> origin/master
	{
		height:55vh;
	}

	#headerBusinessandMeetings
	{
		.panelHeaderBusinessMeetings
		{
			height:12vh;
		}
	}
}

@media screen and (max-width:768px)
{

	#headerRooms
	{
		.panelHeaderRooms
		{
			height:25vh;
			padding-top:2.5em;
		}
	}

	#roomDetails
	{
		.room
		{
<<<<<<< HEAD
			height:65vh;
=======
			height:auto;
>>>>>>> origin/master
			font-weight: 300;

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
<<<<<<< HEAD
=======
					padding-bottom: 1em;
>>>>>>> origin/master
				}
			}

			.headerPanelRoomText
			{
<<<<<<< HEAD
				padding:0 2vh 0 2vh;
=======
				padding:2em 2vh 2em 2vh;
>>>>>>> origin/master
			}
		}
	}

	#touristAttraction
	{
		height:65vh;

		.leftSideTourist
		{
			width:100%;
			padding:0 2em 0 2em;
			float:left;
			margin-bottom: 2em;
		}

		.rightSideTourist
		{
			width:100%;
			padding:0 2em 0 2em;
			float:left;
		}
	}

	#pageFour
	{
		height: auto;
		padding-bottom:2em;

		.aboutUsParagraph
		{
			padding: 0 1em 0 1em;
		}
	}

	#footer
	{
		.rightPanel
		{
			padding-left: 5vh;
		}
	}
}

<<<<<<< HEAD
@media screen and(max-width:510px)
{
=======
@media screen and(max-width:588px)
{
	#footer
	{
		.leftPanel
		{
			height: auto;
		}
	}

	#headerBusiness
	{
		height:auto;
	}

	#headerBusinessandMeetings
	{
		margin-bottom: 2em;
		
		.panelHeaderBusinessMeetings
		{
			height:auto;
		}
	}

	#pageTwo
	{
		height:180vh;
	}

>>>>>>> origin/master
	#whereAreWe
	{
		height:55vh;
	}
<<<<<<< HEAD
=======

	.room
	{
		height:auto;
	}
>>>>>>> origin/master
}