@media screen and (max-width: 1200px) 
{ 
	//For Home
	#pageTwo
	{
		.bookingPanel
		{
			height:1180px !important;
		}
	}

	#pageFour
	{
		height: 65vh;
	}

	.bigLogo
	{
		display: none !important;
	}

	#navigation
	{
		padding:1em 2em 1em 2em;
		height: 10vh;
		transition:all .2s ease-in-out;

		#navbar
		{
			margin:0;
			margin-top: 0.5em;
			border:0;
			background: #fff;
			padding:1em;
			width:100vh;
		}
	}

	.opened
	{
		height:80vh !important;
		background: #fff !important;
	}

	.fixed
	{
		transition:all .2s ease-in-out;
		position:fixed !important;
		background:#fff !important;
		width:100% !important;
		
		a
		{
			color: #000 !important;
		}
	}

	#headerBusiness
	{
		height:auto !important;
		padding-top:15vh;
	}

	#packages
	{
		height:auto;
		padding: 3em 0 2em 0;

		.packageImage
		{
			margin: auto;
			width:100%;
		}

		p
		{
			margin-top:2em;
		}
	}

	#whereAreWe
	{
		.rightSideMaps
		{
			padding:5em 2em 0 2em;
		}
	}

	#headerTouristAttraction
	{
		.panelHeaderTouristAttraction
		{
			height: auto;
			width:auto;
		}
	}	

	#weddings
	{
		padding-left:2em;
		padding-right:2em;
	}

	#birthdays
	{
		padding-left:2em;
		padding-right:2em;
	}

	#roomDetails
	{
		.room
		{
			height:auto;
			font-weight: 300;
			padding-bottom: 2em;
			font-weight: 300;

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
					margin-bottom: 2em;
				}
			}

			.headerPanelRoomText
			{
				padding:0 2vh 0 2vh;
			}
		}
	}
	
	// Global
	#footer
	{
		height: auto;

		.rightPanel
		{
			padding-left: 5vh;
		}
	}
}

@media screen and (max-width: 992px)
{

	#headerRooms
	{
		.panelHeaderRooms
		{
			height:25vh;
			padding-top:2.5em;
		}
	}

	#roomDetails
	{
		.room
		{
			height:65vh;
			font-weight: 300;

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
					margin-bottom: 1em;
				}
			}

			.headerPanelRoomText
			{
				padding:0 2vh 0 2vh;
			}
		}
	}

	#pageTwo
	{
		.panelBooking
		{
			margin:0;
		}
	}

	#headerBusiness
	{
		height:55vh;
	}

	#headerBusinessandMeetings
	{
		.panelHeaderBusinessMeetings
		{
			height:12vh;
		}
	}

	#pageThree
	{
		.leftAbout
		{
			padding:0;

			.col-lg-6
			{
				padding-left:2.5em;
			}
		}
	}

	#pageFour
	{
		.aboutUs
		{
			h1
			{
				width:100%;
			}
		}
	}
}

@media screen and (max-width:768px)
{
	#firstPage
	{
		.logoName
		{
			h1
			{
				font-size: 32px;
			}
		}
	}

	#navigation
	{
		height:12vh;

		#navbar
		{
			padding:1em 0 0 0;
			background:rgba(255,255,255,0.1);
		}
	}

	#headerRooms
	{
		.panelHeaderRooms
		{
			height:25vh;
			padding-top:2.5em;
		}
	}

	#roomDetails
	{
		.room
		{
			height:auto;
			font-weight: 300;

			p
			{
				margin-top:2em;
			}

			.picPanelRooms
			{
				.imgRoom
				{
					margin:auto;
					padding-bottom: 1em;
				}
			}

			.headerPanelRoomText
			{
				padding:2em 2vh 2em 2vh;
			}
		}
	}

	#touristAttraction
	{
		height:65vh;

		.leftSideTourist
		{
			width:100%;
			padding:0 2em 0 2em;
			float:left;
			margin-bottom: 2em;
		}

		.rightSideTourist
		{
			width:100%;
			padding:0 2em 0 2em;
			float:left;
		}
	}

	#pageFour
	{
		height: auto;
		padding-bottom:2em;

		.aboutUsParagraph
		{
			padding: 0 1em 0 1em;
			font-size: 14px;
		}
	}

	#footer
	{
		.rightPanel
		{
			padding-left: 5vh;
		}
	}
}

@media screen and(max-width:588px)
{
	#navigation
	{
		height:12vh;
	}

	#footer
	{
		.leftPanel
		{
			height: auto;
		}
	}

	#headerBusiness
	{
		height:auto;
		padding:12vh 1.5em 2em 1.5em;
	}

	#packages
	{
		h1
		{
			width:100%;
		}
	}

	#headerBusinessandMeetings
	{	
		.panelHeaderBusinessMeetings
		{
			height:auto;

			h1
			{
				font-size: 28px;
			}
		}
	}


	#whereAreWe
	{
		height:55vh;
	}

	.room
	{
		height:auto;
	}

	#headerRooms
	{
		.panelHeaderRooms
		{
			height:auto;
			padding-top:2em;
		}
	}

}