#headResto
{
    font-family: 'helvetica';
    margin-bottom: -1em;
    
    h1
    {
        text-align: center;
        padding: 2em;
    }
}

#headCake
{
    font-family: 'helvetica';
    margin-bottom: -1em;
    
    h1
    {
        text-align: center;
        padding: 2em;
    }
}

#headSlider
{
    margin-bottom:2em;
    margin-top:-2em;

    .imageSlider
    {
        background-size: cover !important;
        height:80vh;
        width:100%;
    }

    .imageSliderResto
    {
        background:url('../images/resto/4.jpg');
    }

    .imageSliderCake
    {
        background:url('../images/cake/10.jpg');
    }
}

#headingResto
{
    margin-bottom:-5em;

    .heading
    {
        background:#fff;
        -webkit-box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);
        box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);

        h4
        {
            font-weight: 300;
            padding:1em;
            font-size: 18px;
            line-height: 25px;
        }
    }
}

#freatured
{
    background: $primary-color;
    padding:10em 2em 2em 2em;

    h1
    {
        text-align: center;
        color:#fff;
        font-weight: 300;
        margin-bottom:1em;
        font-size:52px;
    }

    .imageFreatured
    {
        background-size: 100% 100% !important;
        height:30vh;
        padding:1em;
    }
    
    .col-lg-4:nth-child(2) .imageFreatured
    {
        background:url('../images/resto/1.jpg');
    }

    .col-lg-4:nth-child(3) .imageFreatured
    {
        background:url('../images/resto/2.jpg');
    }

    .col-lg-4:nth-child(4) .imageFreatured
    {
        background:url('../images/resto/3.jpg');
    }

    .textFreatured
    {
        margin-top:2em;
        padding-bottom:2em;

        h5
        {
            padding:1em 2em 0 2em;
            text-align: center;
            color:#fff;
            font-weight: 300;
        }
        
    }
}

#headingCake
{
    margin-bottom:-5em;

    .heading
    {
        background:#fff;
        -webkit-box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);
        box-shadow: 11px 13px 48px 0px rgba(0,0,0,0.75);

        h4
        {
            font-weight: 300;
            padding:1em;
            font-size: 18px;
            line-height: 25px;
        }
    }
}

#freaturedCake
{
    background: $primary-color;
    padding:10em 2em 2em 2em;

    h1
    {
        text-align: center;
        color:#fff;
        font-weight: 300;
        margin-bottom:1em;
        font-size:52px;
    }

    .imageFreatured
    {
        background-size: 100% 100% !important;
        height:30vh;
        padding:1em;
    }
    
    .col-lg-4:nth-child(3) .imageFreatured
    {
        background:url('../images/cake/1.jpg');
    }

    .col-lg-4:nth-child(4) .imageFreatured
    {
        background:url('../images/cake/2.jpg');
    }

    .col-lg-4:nth-child(5) .imageFreatured
    {
        background:url('../images/cake/3.jpg');
    }

    .col-lg-4:nth-child(6) .imageFreatured
    {
        background:url('../images/cake/4.jpg');
    }

    .col-lg-4:nth-child(7) .imageFreatured
    {
        background:url('../images/cake/5.jpg');
    }

    .col-lg-4:nth-child(8) .imageFreatured
    {
        background:url('../images/cake/6.jpg');
    }

    .textFreatured
    {
        margin-top:2em;
        padding-bottom:2em;

        h5
        {
            padding:1em 2em 0 2em;
            text-align: center;
            color:#fff;
            font-weight: 300;
        }
        
    }
}

#freaturedSliced
{
    background: #fff;
    padding:3em 2em 2em 2em;

    h1
    {
        text-align: center;;
        font-weight: 300;
        margin-bottom:1em;
        font-size:52px;
    }

    .imageFreatured
    {
        background-size: cover !important;
        height:30vh;
        padding:1em;
    }

    .col-lg-3:nth-child(2) .imageFreatured
    {
        background:url('../images/cake/12.jpg');
    }

    .col-lg-3:nth-child(3) .imageFreatured
    {
        background:url('../images/cake/13.jpg');
    }

    .col-lg-3:nth-child(4) .imageFreatured
    {
        background:url('../images/cake/14.jpg');
    }

    .col-lg-3:nth-child(5) .imageFreatured
    {
        background:url('../images/cake/15.jpg');
    }

    .textFreatured
    {
        margin-top:2em;

        h5
        {
            padding:1em 2em 0 2em;
            text-align: center;
            font-weight: 300;
        }
        
    }
}