/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/

$primary-color: #272c2d;
$secondary-color: #fff;

$font-primary: #fff;

