/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/

$primary-color: #1B2021;
$secondary-color: #F6F7EB;
$accent-color : #660000;

$font-primary: #fff;
$font-secondary: #000;

@import 'rooms';
@import 'businessandmeetings';
@import 'location';
@import 'weddingsandbirthdays';
@import 'resto';

body
{
	margin:0;
	padding:0;
	text-align: justify;
	background:$secondary-color !important;

	font-family: 'helvetica';
}

p
{
	font-size: 14px;
}

.darkerFilter
{
	background:rgba(0,0,0,0.4) !important;
	height:100%;
}

.wrapper
{
	overflow:hidden;
}

.fixed
{
	background-color: #fff !important;
}

.noLogoNav
{
	display:none !important;
}

#navigation
{
	border:0;
	background:rgba(255,255,255,0.6);
	box-shadow: none;
	padding:0 2em 0 2em;
	margin-bottom:0;
	top: 0;
	width:100%;
	padding-top: 100px;
	padding-bottom: 20px;
	border-radius: 0;
	font-size: 18px;
	font-weight: 300;
	position:absolute;
	transition:all .2s ease-in-out;
	z-index:1000;
	color:$font-secondary;

	h1
	{
		font-weight: 300;
		width:50%;
		margin-top:1em;
	}

	img
	{
		margin:1em;
		max-width: 70px;
	}

	.navbar-brand
	{
		margin-top: -150px;
		margin-left: 0px;
		font-size: 30pt;
	}

	#navbar
	{
		margin:0;
		border:0;
		margin-left: -360px;
		float: left;

		.in
		{
			background:#fff;
			border:0;
		}

		.dropdown-item
		{
			color:$font-secondary;
		}

		a
		{
			color:$font-secondary;
			background:rgba(0,0,0,0);
			opacity: 0.8;
			transition:all .2s ease-in-out;
		}

		a:hover
		{
			color:#333;
		}

		ul
		{
			li
			{
				.active
				{
					a
					{
						color:#fff;
					}
				}
			}
		}
	}
}

#firstPage
{
	position:relative;
	width:100%;
	overflow: hidden;
	color: $font-primary;
    transition: 0s linear;
    transition-property: background-position;

	#parallax
	{
		background:url('../images/home_large.jpg');
		background-size: cover;
		height: 100vh;
	}
}

#footer
{
	width:100%;
	height:auto;
	overflow:hidden;

	.leftPanel
	{
		background:$primary-color;
		color:$font-primary;
		height:100%;
		padding:5vh 15vh 1em 3em;

		h4
		{
			margin-bottom:1em;
			font-size: 32px;
			font-weight: 300;
		}

		p
		{
			font-size:14px;
			font-weight: 40;
		}
	}

	.rightPanel
	{
		padding:5vh 2em 1em 1em;
		background: $accent-color !important;
		color:$font-primary !important;
		
		h4
		{
			margin-bottom:1em;
			font-size: 32px;
			font-weight: 300;
		}

		p
		{
			font-size:14px;
			font-weight: 40;
		}

		a
		{
			text-decoration: none;
			color:$font-primary !important;
			transition:all .2s ease-in-out;
		}

		a:hover
		{
			color:#ccc !important;
		}
	}
}


// medias are last
@import 'media';