/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/

#weddings
{
	height:auto;
	width:100%;
	padding-top: 5em;
	padding-left: 1em;
	background:$primary-color;

	.panelWedding
	{
		h1
		{
			font-size:42px;
			font-weight: 300;
			color:#fff;
			border-bottom: 1px solid #fff;
			width:100%;
			padding-bottom: 10px;
			padding-left:0.2em;
		}

		p
		{
			color:#fff;
			padding-top:2em;
			width:80%;
		}
	}	
}

#birthdays
{
	height:auto;
	width:100%;
	padding-top: 5em;
	padding-right: 2em;
	padding-bottom: 4em;
	background:$primary-color;

	.panelBirthday
	{
		h1
		{
			font-size:42px;
			font-weight: 300;
			color:#fff;
			border-bottom: 1px solid #fff;
			width:100%;
			padding-left:0.2em;
			padding-bottom: 10px;
			text-align: right;
		}

		p
		{
			color:#fff;
			padding-top:2em;
		}
	}	
}