/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/
/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/
#headerRooms {
  height: auto; }
  #headerRooms .panelHeaderRooms {
    z-index: 1000;
    width: 100%;
    height: auto;
    margin-top: -10vh;
    background: #F6F7EB;
    padding: 1em 2em 1em 2em;
    box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75); }
    #headerRooms .panelHeaderRooms p {
      margin-top: 2em; }

#roomDetails .room:nth-child(1) .imgRoom {
  background: url("../images/bedAbout.jpg");
  background-size: cover; }
#roomDetails .room:nth-child(2) .imgRoom {
  background: url("../images/bedAbout.jpg");
  background-size: cover; }
#roomDetails .room:nth-child(3) .imgRoom {
  background: url("../images/bedAbout.jpg");
  background-size: cover; }
#roomDetails .room:nth-child(4) .imgRoom {
  background: url("../images/bedAbout.jpg");
  background-size: cover; }
#roomDetails .room:nth-child(5) .imgRoom {
  background: url("../images/bedAbout.jpg");
  background-size: cover; }
#roomDetails .room:nth-child(odd) {
  background: #F6F7EB; }
#roomDetails .room:nth-child(even) {
  background: #1B2021;
  color: #fff;
  padding-bottom: 3em; }
  #roomDetails .room:nth-child(even) .headerPanelRoomText h3 {
    border-bottom: 2px solid #fff; }
#roomDetails .room {
  height: auto;
  margin: 2em 0 2em 0;
  padding-top: 3em;
  font-weight: 300; }
  #roomDetails .room .picPanelRooms {
    height: 30vh; }
    #roomDetails .room .picPanelRooms .imgRoom {
      height: 100%;
      width: 60%;
      margin-left: 30%; }
  #roomDetails .room .headerPanelRoomText h3 {
    font-size: 38px;
    font-weight: 400;
    border-bottom: 2px solid #000;
    width: 60%;
    padding-left: 0.2em;
    padding-bottom: 0.2em; }

/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website ----
-----------------------------*/
#headerBusinessandMeetings {
  height: 0vh;
  font-weight: 300; }
  #headerBusinessandMeetings .panelHeaderBusinessMeetings {
    z-index: 1000;
    width: 90%;
    height: auto;
    margin-top: -5vh;
    background: #F6F7EB;
    padding: 2em 1em 1em 0em;
    box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75); }
    #headerBusinessandMeetings .panelHeaderBusinessMeetings h1 {
      margin-left: 1em;
      font-weight: 300;
      font-size: 42px; }

#headerBusiness {
  padding: 8vh 5em 2em 5em;
  height: auto;
  width: 100%;
  background: #1B2021;
  color: #fff;
  font-weight: 300; }
  #headerBusiness p {
    margin-top: 2em; }

#packages {
  height: auto;
  width: 80%;
  padding: 50px 0 40px 0;
  font-weight: 300;}
  #packages .package-scroller .row{
    padding: 0 80px 0 80px;
  }
  #packages .panel{
    float: left;
  }
  #packages .packageImage {
    margin-left: 30px;
    margin-top:20px;
    height: 30vh;
    width: 40vh;
    background: url("../images/bedAbout.jpg"); }
  #packages h1 {
    font-size: 42px;
    margin-top: 20px;
    font-weight: 400;
    padding-left: 0.2em;
    text-align: left;
    padding-bottom: 0.1em;
    border-bottom: 1.5px solid #000;
    margin-bottom: 25px;
    width: 100%; }

#carousel {
  background: #1B2021;
  height: 400px;
  padding: 2em 30px 2em 30px; }
  #carousel div {
    width:100%;
    height: 100%;
    background-size: cover !important;
    float: left;
  }

  /*
  Contact Us
   */

.contactus{
  padding: 50px 0 40px 0;
}
  .contactus h1{
    font-weight: 300;
    font-size:48px;
  }
  .contactus .row{
    margin-bottom: 25px;
  }
  .contactus .form-btn {
    width:100%;
    padding:10px;
    background: rgba(0,0,0,0);
    border: 2px solid #660000;
    transition: all .3s ease-in-out;
  }
  .contactus .form-btn:hover{
    background: #660000;
    cursor: pointer;
    color: #fff;
  }
  .contactus .submit-btn{
    background:rgba(102,0,0,1);
    color:#fff;
  }
  .contactus .submit-btn:hover{
    background:#1B2021;
    border: 2px solid #1B2021;
  }
  .contactus .alert{
    margin-bottom: 40px;
  }

/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/
#whereAreWe {
  height: auto;
  padding-bottom: 4em;
  width: 100%;
  background: #1B2021;
  font-weight: 300; }
  #whereAreWe .mapsWrapper {
    padding: 3em 2em 0 100px; }
  #whereAreWe .mapsWrapper #map iframe{
    width:100%;
    height:100%; }
  #whereAreWe .rightSideMaps {
    color: #fff;
    padding-top: 4em;
    padding-bottom: 3em; }
    #whereAreWe .rightSideMaps h1 {
      border-bottom: 1px solid #fff;
      width: 80%;
      font-weight: 400; }
    #whereAreWe .rightSideMaps p {
      margin-top: 3em; }

#headerTouristAttraction {
  width: 100%; }
  #headerTouristAttraction .panelHeaderTouristAttraction {
    height: auto;
    background: #F6F7EB;
    margin-top: -7vh;
    padding: 1.7em 0 1.7em 2em;
    box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75); }
    #headerTouristAttraction .panelHeaderTouristAttraction h1 {
      font-size: 42px;
      font-weight: 300; }

.popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  padding-top: 3em;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }

#touristAttraction {
  margin-top: 50px;
  width: 80%;
  margin-bottom: 40px;
  height: auto; }
  #touristAttraction .row{
    padding: 0 60px 0 60px;
  }
  #touristAttraction .panel {
    float: left;
    padding: 0 2em 0 2em;
    height: 100%; }
  #touristAttraction .leftSideTourist {
    width: 50%;
    padding: 0 2em 0 2em;
    float: left; }
  #touristAttraction .rightSideTourist {
    width: 50%;
    padding: 0 2em 0 2em;
    float: left; }
  #touristAttraction .touristLeft {
    height: auto;
    text-overflow: ellipsis; }
    #touristAttraction .touristLeft h1 {
      font-weight: 400;
      border-bottom: 1px solid #000;
      width: 100%;
      padding-left: 0.2em;
      margin-bottom: 1em; }
    #touristAttraction .touristLeft .wordwrapper {
      margin-top: 3em;
      text-align: justify; }
  #touristAttraction .imageTourist {
    margin-top: 3em;
    height: 250px;
    width: 100%;
    background-size: cover !important; }
  #touristAttraction button .slick-prev, #touristAttraction button .slick-next, #touristAttraction button .slick-arrow {
    color: #000;
    background: #000; }
.slick-prev:before, .slick-next:before {
  color:black !important;
  font-size:30px !important;
}

.slick-prev:before {
  margin-right: 10px;
}

.slick-next:before {
  margin-left: 10px;
}

#scattered {
  padding-top: -10em;
  height: 60vh;
  overflow: hidden;
  width: 100%;
  background: #1B2021; }
  #scattered #photostack-2 {
    height: 60vh;
    background: #1B2021; }

/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/
#weddings {
  height: auto;
  width: 100%;
  padding-top: 5em;
  padding-left: 1em;
  background: #1B2021; }
  #weddings .panelWedding h1 {
    font-size: 42px;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 0.2em;
    padding-top: 0.5em; }
  #weddings .panelWedding p {
    color: #fff;
    padding-top: 2em;
    width: 80%; }

#birthdays {
  height: auto;
  width: 100%;
  padding-top: 5em;
  padding-right: 2em;
  padding-bottom: 4em;
  background: #1B2021; }
  #birthdays .panelBirthday h1 {
    font-size: 42px;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-left: 0.2em;
    padding-bottom: 10px;
    text-align: right; }
  #birthdays .panelBirthday p {
    color: #fff;
    padding-top: 2em; }

#headResto {
  font-family: 'helvetica';
  margin-bottom: -1em; }
  #headResto h1 {
    text-align: center;
    padding: 2em; }

#headCake {
  font-family: 'helvetica';
  margin-bottom: -1em; }
  #headCake h1 {
    text-align: center;
    padding: 2em; }

#headSlider {
  margin-bottom: 2em;
  margin-top: -2em; }
  #headSlider .imageSlider {
    background-size: cover !important;
    height: 80vh;
    width: 100%; }

#headingResto {
  margin-bottom: -5em; }
  #headingResto .heading {
    background: #fff;
    -webkit-box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75); }
    #headingResto .heading h4 {
      font-weight: 300;
      padding: 1em;
      font-size: 18px;
      line-height: 25px; }

#freatured {
  background: #1B2021;
  padding: 10em 2em 2em 2em; }
  #freatured h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 52px; }
  #freatured .imageFreatured {
    background-size: 100% 100% !important;
    height: 30vh;
    padding: 1em; }
  #freatured .textFreatured {
    margin-top: 2em;
    padding-bottom: 2em; }
    #freatured .textFreatured h5 {
      padding: 1em 2em 0 2em;
      text-align: center;
      color: #fff;
      font-weight: 300; }

#headingCake {
  margin-bottom: -5em; }
  #headingCake .heading {
    background: #fff;
    -webkit-box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 13px 48px 0px rgba(0, 0, 0, 0.75); }
    #headingCake .heading h4 {
      font-weight: 300;
      padding: 1em;
      font-size: 18px;
      line-height: 25px; }

#freaturedCake {
  background: #1B2021;
  padding: 10em 2em 2em 2em; }
  #freaturedCake h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 52px; }
  #freaturedCake .imageFreatured {
    background-size: 100% 100% !important;
    height: 30vh;
    padding: 1em; }
  #freaturedCake .textFreatured {
    margin-top: 2em;
    padding-bottom: 2em; }
    #freaturedCake .textFreatured h5 {
      padding: 1em 2em 0 2em;
      text-align: center;
      color: #fff;
      font-weight: 300; }

#freaturedSliced {
  background: #fff;
  padding: 3em 2em 2em 2em; }
  #freaturedSliced h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 52px; }
  #freaturedSliced .imageFreatured {
    background-size: cover !important;
    height: 30vh;
    padding: 1em; }
  #freaturedSliced .textFreatured {
    margin-top: 2em; }
    #freaturedSliced .textFreatured h5 {
      padding: 1em 2em 0 2em;
      text-align: center;
      font-weight: 300; }

body {
  margin: 0;
  padding: 0;
  text-align: justify;
  background: #F6F7EB !important;
  font-family: 'helvetica'; }

p {
  font-size: 16px; }

.darkerFilter {
  background: rgba(0, 0, 0, 0.4) !important;
  height: 100%; }

.wrapper {
  overflow: hidden; }

.fixed {
  background-color: #fff !important; }

.noLogoNav {
  display: none !important; }

#navigation {
  border: 0;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: none;
  padding: 0 2em 0 2em;
  margin-bottom: 0;
  top: 0;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 20px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  transition: all .2s ease-in-out;
  z-index: 1000;
  color: #000; }
  #navigation h1 {
    font-weight: 300;
    width: 50%;
    margin-top: 1em; }
  #navigation img {
    margin: 1em;
    max-width: 70px; }
  #navigation .navbar-brand {
    margin-top: -150px;
    margin-left: 0px;
    font-size: 30pt; }
  #navigation #navbar {
    margin: 0;
    border: 0;
    margin-left: -360px;
    float: left;
    width: 100%; }
    #navigation #navbar .in {
      background: #fff;
      border: 0; }
    #navigation #navbar .dropdown-item {
      color: #000; }
    #navigation #navbar a {
      color: #000;
      background: transparent;
      opacity: 0.8;
      transition: all .2s ease-in-out; }
    #navigation #navbar a:hover {
      color: #333; }
    #navigation #navbar ul li .active a {
      color: #fff; }

#firstPage {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;
  transition: 0s linear;
  transition-property: background-position; }
  #firstPage #parallax {
    background: url("../images/home_large.jpg");
    background-size: cover;
    height: 600px; }

#footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #1B2021; }
  #footer .leftPanel {
    background: #1B2021;
    color: #fff;
    height: auto;
    padding: 5vh 15vh 1em 3em; }
    #footer .leftPanel h4 {
      margin-bottom: 1em;
      font-size: 32px;
      font-weight: 300; }
    #footer .leftPanel p {
      font-size: 14px;
      font-weight: 400; }
  #footer .rightPanel {
    padding: 5vh 2em 1em 1em;
    background: #660000 !important;
    color: #fff !important; }
    #footer .rightPanel h4 {
      margin-bottom: 1em;
      font-size: 32px;
      font-weight: 300; }
    #footer .rightPanel p {
      font-size: 14px;
      font-weight: 400; }
    #footer .rightPanel a {
      text-decoration: none;
      color: #fff !important;
      transition: all .2s ease-in-out; }
    #footer .rightPanel a:hover {
      color: #ccc !important; }

    /*
    Job Opportunities
     */
    #headerJobs{
      padding:40px 0 30px 0;
    }
    .panelHeaderJob h1{
      font-weight: 300;
    }

    #newsList {
      padding: 30px;
    }

@media screen and (max-width: 1263px) {
  #navigation #navbar a {
    font-size: 22px;
    color: #000; } }
@media screen and (max-width: 1200px) {
  #pageFour {
    height: 65vh; }

  .bigLogo {
    display: none !important; }

  #navigation {
    padding: 1em 2em 1em 2em;
    height: 85px;
    transition: all .2s ease-in-out; }
    #navigation .navbar-brand {
      margin: 0;
      font-size: 22pt; }
    #navigation #navbar {
      margin: 0;
      margin-top: 0.5em;
      border: 0;
      background: rgba(255, 255, 255, 0.1);
      padding: 1em; }

  .opened {
    height: 600px !important;
    background: #fff !important; }
    .opened .navbar-brand {
      color: #000 !important; }

  .fixed {
    transition: all .2s ease-in-out;
    position: fixed !important;
    background: #fff !important;
    width: 100% !important; }
    .fixed a {
      color: #000 !important; }

  #headerBusiness {
    height: auto !important;
    padding-top: 15vh; }

  #packages {
    height: auto;
    padding: 3em 0 2em 0; }
    #packages .packageImage {
      margin: auto;
      width: 100%; }
    #packages p {
      margin-top: 2em; }

  #whereAreWe .rightSideMaps {
    padding: 5em 2em 0 2em; }

  #headerTouristAttraction .panelHeaderTouristAttraction {
    height: auto;
    width: auto; }

  #weddings {
    padding-left: 2em;
    padding-right: 2em; }

  #birthdays {
    padding-left: 2em;
    padding-right: 2em; }

  #roomDetails .room {
    height: auto;
    font-weight: 300;
    padding-bottom: 2em;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      margin-bottom: 2em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 0 2vh 0 2vh; }

  #footer {
    height: auto; }
    #footer .rightPanel {
      padding-left: 5vh; } }
@media screen and (max-width: 992px) {
  #headerRooms .panelHeaderRooms {
    height: auto;
    padding-top: 2.5em; }

  #pageTwo #booking .bookingPanel {
    padding-top: 50px;
    padding-bottom: 50px; }

  #roomDetails .room {
    height: 65vh;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      margin-bottom: 1em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 0 2vh 0 2vh; }

  #pageTwo .panelBooking {
    margin: 0; }
  #pageTwo #booking .bookingPanel .day h5 {
    font-size: 32px; }
  #pageTwo #booking .bookingPanel .month h5 {
    font-size: 32px; }
  #pageTwo #booking .bookingPanel .year h5 {
    font-size: 32px; }

  #headerBusiness {
    height: 55vh; }

  #headerBusinessandMeetings .panelHeaderBusinessMeetings {
    height: 12vh; }

  #pageThree .leftAbout {
    padding: 0; }
    #pageThree .leftAbout .col-lg-6 {
      padding-left: 2.5em; }

  #pageFour .aboutUs h1 {
    width: 100%; }

  #pageFive .wrapMe .whitePanel h1 {
    font-size: 38px; }
  #pageFive .wrapMe .virtualTourButton button {
    font-size: 26px;
    padding-right: 0.7em; } }
@media screen and (max-width: 768px) {
  #firstPage .logoName h1 {
    font-size: 32px; }

  #navigation {
    height: 75px; }
    #navigation .navbar-brand {
      font-size: 18pt; }
    #navigation #navbar {
      padding: 1em 0 0 0; }
      #navigation #navbar .dropdown-item {
        font-size: 14pt;
        font-weight: 300; }

  #headerRooms .panelHeaderRooms {
    height: auto;
    padding-top: 2.5em; }

  #roomDetails .room {
    height: auto;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      padding-bottom: 1em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 2em 2vh 2em 2vh; }

  #touristAttraction {
    height: auto; }
    #touristAttraction .leftSideTourist {
      width: 100%;
      padding: 0 2em 0 2em;
      float: left;
      margin-bottom: 2em; }
    #touristAttraction .rightSideTourist {
      width: 100%;
      padding: 0 2em 0 2em;
      float: left; }

  #roomDetails .room .headerPanelRoomText h3 {
    width: 100%; }

  #headerTouristAttraction {
    margin-bottom: 5em; }

  #scattered {
    height: 90vh; }
    #scattered #photostack-2 {
      height: 90vh; }

  #pageFour {
    height: auto;
    padding-bottom: 2em; }
    #pageFour .aboutUsParagraph {
      padding: 0 1em 0 1em;
      font-size: 16px; }

  #footer .rightPanel {
    padding-left: 5vh; } }
@media screen and (max-width: 588px) {
  #navigation {
    height: 75px; }
    #navigation .navbar-brand {
      margin: 0;
      font-size: 18pt; }

  #firstPage .homeLine {
    margin-top: 140px; }

  #footer .leftPanel {
    height: auto; }

  #headerBusiness {
    height: auto;
    padding: 12vh 1.5em 2em 1.5em; }

  #packages h1 {
    width: 100%; }

  #headerBusinessandMeetings .panelHeaderBusinessMeetings {
    height: auto; }
    #headerBusinessandMeetings .panelHeaderBusinessMeetings h1 {
      font-size: 28px; }

  #whereAreWe {
    height: auto; }

  .room {
    height: auto; }

  #headerRooms .panelHeaderRooms {
    height: auto;
    padding-top: 2em; } }
@media screen and (max-width: 320px) {
  #navigation {
    height: 75px; }
    #navigation .navbar-brand {
      margin: 0;
      margin-top: 5px;
      font-size: 14pt; }

  #firstPage .logoName h1 {
    font-size: 28px; }
  #firstPage .homeLine {
    margin-top: 15%; } }

/*# sourceMappingURL=styleNotHome.css.map */
