/* ----------------------------
---- ByteForce Indonesia ------
------ Grand ABE's Website -------
-----------------------------*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: justify;
  font-family: 'helvetica' !important; }

.darkerFilter {
  background: rgba(0, 0, 0, 0.4) !important;
  height: 100%;
  z-index: 10000; }

.fixed {
  transition: all .2s ease-in-out;
  position: fixed !important;
  top: 0 !important;
  background: #fff !important;
  width: 100% !important;
  height: 8vh; }
  .fixed a {
    color: #000 !important; }

#navigation {
  position: absolute;
  bottom: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  padding: 0 2em 0 2em;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
  font-size: 1.5em;
  font-weight: 300;
  transition: all .2s ease-in-out;
  z-index: 1000;
  color: #000;
  overflow: hidden; }
  #navigation h1 {
    font-weight: 300;
    width: 50%;
    margin-top: 1em; }
  #navigation img {
    margin: 1em;
    max-width: 70px; }
  #navigation #toggleNav button {
    outline: none; }
  #navigation #navbar {
    margin: 0;
    border: 0;
    z-index: 1000;
    overflow-y: scroll; }
    #navigation #navbar .in {
      background: #fff;
      border: 0; }
    #navigation #navbar a {
      color: #000;
      background: transparent;
      opacity: 0.8;
      transition: all .2s ease-in-out; }
    #navigation #navbar a:hover {
      color: #333; }
    #navigation #navbar ul li .active a {
      color: #fff; }

#firstPage {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden; }
  #firstPage .logoName {
    margin-top: 3em; }
    #firstPage .logoName h1 {
      font-weight: 300; }
      #firstPage .logoName h1 strong {
        font-weight: 500; }
  #firstPage .homeLine {
    margin-top: 50%;
    font-size: 16px; }
    #firstPage .homeLine button {
      margin-top: 1em;
      border: 1px solid #fff;
      font-weight: 300;
      padding: 0.3em 1em 0.3em 1em;
      font-size: 24px;
      opacity: 0.7;
      transition: all .35s ease-in-out;
      background: transparent;
      color: #fff;
      outline: none; }
    #firstPage .homeLine button:hover {
      opacity: 1;
      cursor: pointer; }
    #firstPage .homeLine button:active {
      border: 1px solid red; }
  #firstPage #parallax {
    background: url("../images/home_large.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1000;
    position: absolute;
    top: 0; }

#pageTwo {
  height: auto;
  width: 100%; }
  #pageTwo #booking {
    height: auto;
    background: #272c2d;
    padding-top: 2em;
    padding-bottom: 3em; }
    #pageTwo #booking .bookingNow {
      color: #fff; }
      #pageTwo #booking .bookingNow h1 {
        font-weight: 300; }
        #pageTwo #booking .bookingNow h1 strong {
          font-weight: 500; }
    #pageTwo #booking .bookingPanel {
      width: 80%;
      height: 350px;
      background: #fff;
      margin-top: 3em;
      box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75);
      padding: 2em;
      padding-bottom: 1em; }
      #pageTwo #booking .bookingPanel .day {
        margin-bottom: 2em; }
        #pageTwo #booking .bookingPanel .day #dayBig {
          margin-top: -5px;
          font-size: 7em;
          font-weight: 400; }
        #pageTwo #booking .bookingPanel .day h5 {
          font-size: 3em;
          font-weight: 300; }
        #pageTwo #booking .bookingPanel .day select {
          margin-top: 1.5em;
          font-size: 10px;
          background-color: #272c2d; }
      #pageTwo #booking .bookingPanel .month {
        margin-bottom: 2em; }
        #pageTwo #booking .bookingPanel .month #monthBig {
          margin-top: -5px;
          font-size: 7em;
          font-weight: 400; }
        #pageTwo #booking .bookingPanel .month h5 {
          font-size: 3em;
          font-weight: 300; }
        #pageTwo #booking .bookingPanel .month select {
          margin-top: 1.5em;
          font-size: 10px;
          background-color: #272c2d; }
      #pageTwo #booking .bookingPanel .year {
        margin-bottom: 2em; }
        #pageTwo #booking .bookingPanel .year #yearBig {
          margin-top: -5px;
          font-size: 7em;
          font-weight: 400; }
        #pageTwo #booking .bookingPanel .year h5 {
          font-size: 3em;
          font-weight: 300; }
        #pageTwo #booking .bookingPanel .year select {
          margin-top: 1.5em;
          font-size: 10px;
          background-color: #272c2d; }
      #pageTwo #booking .bookingPanel .formBook input[type=text] {
        margin-top: 2.7em;
        border: 0;
        border-bottom: 2px solid #ccc;
        font-size: 1.1em;
        transition: border .35s ease-in-out;
        width: 100%; }
      #pageTwo #booking .bookingPanel .formBook input[type=text]:focus {
        border: 0;
        border-bottom: 2px solid #000;
        outline: none; }
      #pageTwo #booking .bookingPanel .formBook input[type=submit] {
        background: transparent;
        border: 1px solid #ccc;
        margin-top: 2em;
        font-size: 1.5em;
        width: 100%;
        transition: border .35s ease-in-out; }
      #pageTwo #booking .bookingPanel .formBook input[type=submit]:hover {
        border: 1px solid #000;
        cursor: pointer; }

#pageThree {
  width: 100%;
  height: auto;
  overflow: hidden; }
  #pageThree .bedAbout {
    background: url("../images/bedAbout.jpg");
    background-size: cover;
    position: relative;
    height: 60vh; }
  #pageThree .leftAbout {
    margin-bottom: 0; }
    #pageThree .leftAbout .logoAbout {
      margin-top: 3em; }
      #pageThree .leftAbout .logoAbout img {
        max-width: 20vh; }
  #pageThree h1 {
    margin-top: 1em;
    font-size: 52px;
    font-weight: 300; }
  #pageThree p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300; }

#pageFour {
  width: 100%;
  height: 50vh;
  background: #272c2d;
  padding-top: 4.5vh; }
  #pageFour .aboutUs {
    border-bottom: 1px solid #fff; }
    #pageFour .aboutUs h1 {
      font-weight: 300;
      font-size: 52px;
      color: #fff;
      margin-left: 10px; }
  #pageFour .aboutUsParagraph {
    margin-top: 2vh; }
    #pageFour .aboutUsParagraph p {
      font-weight: 300;
      margin-top: 2em;
      color: #fff; }

#pageFive {
  background: url("../images/home_large.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  padding-bottom: 2em; }
  #pageFive .wrapMe .whitePanel {
    margin-top: 15vh;
    background: #fff;
    padding: 1em;
    box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75); }
    #pageFive .wrapMe .whitePanel h1 {
      font-size: 70px;
      font-weight: 300;
      text-align: right;
      margin: 0 .5em 0 0; }
  #pageFive .wrapMe .virtualTourButton {
    margin-left: 25vh; }
    #pageFive .wrapMe .virtualTourButton button {
      background: red;
      box-shadow: 7px 12px 62px -12px rgba(0, 0, 0, 0.75);
      border: 0;
      font-size: 30px;
      color: #fff;
      width: 80%;
      padding: .5em 1em .5em 0;
      font-weight: 300;
      text-align: right;
      opacity: 0.8;
      transition: opacity .2s ease-in-out; }
    #pageFive .wrapMe .virtualTourButton button:hover {
      opacity: 1;
      cursor: pointer; }

#footer {
  width: 100%;
  height: 35vh;
  overflow: hidden; }
  #footer .leftPanel {
    background: #272c2d;
    color: #fff;
    height: 40vh;
    padding: 5vh 15vh 1em 3em; }
    #footer .leftPanel h4 {
      margin-bottom: 1em;
      font-size: 32px;
      font-weight: 300; }
    #footer .leftPanel p {
      font-size: 14px;
      font-weight: 40; }
  #footer .rightPanel {
    padding: 5vh 2em 1em 1em; }
    #footer .rightPanel h4 {
      margin-bottom: 1em;
      font-size: 32px;
      font-weight: 300; }
    #footer .rightPanel p {
      font-size: 14px;
      font-weight: 40; }

@media screen and (max-width: 1200px) {
  #pageTwo .bookingPanel {
    height: 1180px !important; }

  #pageFour {
    height: 65vh; }

  .bigLogo {
    display: none !important; }

  #navigation {
    padding: 1em 2em 1em 2em;
    height: 10vh;
    transition: all .2s ease-in-out; }
    #navigation #navbar {
      margin: 0;
      margin-top: 0.5em;
      border: 0;
      background: #fff;
      padding: 1em;
      width: 100vh; }

  .opened {
    height: 80vh !important;
    background: #fff !important; }

  .fixed {
    transition: all .2s ease-in-out;
    position: fixed !important;
    background: #fff !important;
    width: 100% !important; }
    .fixed a {
      color: #000 !important; }

  #headerBusiness {
    height: auto !important;
    padding-top: 15vh; }

  #packages {
    height: auto;
    padding: 3em 0 2em 0; }
    #packages .packageImage {
      margin: auto;
      width: 100%; }
    #packages p {
      margin-top: 2em; }

  #whereAreWe .rightSideMaps {
    padding: 5em 2em 0 2em; }

  #headerTouristAttraction .panelHeaderTouristAttraction {
    height: auto;
    width: auto; }

  #weddings {
    padding-left: 2em;
    padding-right: 2em; }

  #birthdays {
    padding-left: 2em;
    padding-right: 2em; }

  #roomDetails .room {
    height: auto;
    font-weight: 300;
    padding-bottom: 2em;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      margin-bottom: 2em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 0 2vh 0 2vh; }

  #footer {
    height: auto; }
    #footer .rightPanel {
      padding-left: 5vh; } }
@media screen and (max-width: 992px) {
  #headerRooms .panelHeaderRooms {
    height: 25vh;
    padding-top: 2.5em; }

  #roomDetails .room {
    height: 65vh;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      margin-bottom: 1em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 0 2vh 0 2vh; }

  #pageTwo .panelBooking {
    margin: 0; }
  #pageTwo #booking .bookingPanel .day h5 {
    font-size: 32px; }
  #pageTwo #booking .bookingPanel .month h5 {
    font-size: 32px; }
  #pageTwo #booking .bookingPanel .year h5 {
    font-size: 32px; }

  #headerBusiness {
    height: 55vh; }

  #headerBusinessandMeetings .panelHeaderBusinessMeetings {
    height: 12vh; }

  #pageThree .leftAbout {
    padding: 0; }
    #pageThree .leftAbout .col-lg-6 {
      padding-left: 2.5em; }

  #pageFour .aboutUs h1 {
    width: 100%; }

  #pageFive .wrapMe .whitePanel h1 {
    font-size: 38px; }
  #pageFive .wrapMe .virtualTourButton button {
    font-size: 26px;
    padding-right: 0.7em; } }
@media screen and (max-width: 768px) {
  #firstPage .logoName h1 {
    font-size: 32px; }

  #navigation {
    height: 12vh; }
    #navigation #navbar {
      padding: 1em 0 0 0;
      background: rgba(255, 255, 255, 0.1); }

  #headerRooms .panelHeaderRooms {
    height: 25vh;
    padding-top: 2.5em; }

  #roomDetails .room {
    height: auto;
    font-weight: 300; }
    #roomDetails .room p {
      margin-top: 2em; }
    #roomDetails .room .picPanelRooms .imgRoom {
      margin: auto;
      padding-bottom: 1em; }
    #roomDetails .room .headerPanelRoomText {
      padding: 2em 2vh 2em 2vh; }

  #touristAttraction {
    height: 65vh; }
    #touristAttraction .leftSideTourist {
      width: 100%;
      padding: 0 2em 0 2em;
      float: left;
      margin-bottom: 2em; }
    #touristAttraction .rightSideTourist {
      width: 100%;
      padding: 0 2em 0 2em;
      float: left; }

  #roomDetails .room .headerPanelRoomText h3 {
    width: 100%; }

  #headerTouristAttraction {
    margin-bottom: 5em; }

  #scattered {
    height: 90vh; }
    #scattered #photostack-2 {
      height: 90vh; }

  #pageFour {
    height: auto;
    padding-bottom: 2em; }
    #pageFour .aboutUsParagraph {
      padding: 0 1em 0 1em;
      font-size: 16px; }

  #footer .rightPanel {
    padding-left: 5vh; } }
@media screen and (max-width: 588px) {
  #navigation {
    height: 12vh; }

  #footer .leftPanel {
    height: auto; }

  #headerBusiness {
    height: auto;
    padding: 12vh 1.5em 2em 1.5em; }

  #packages h1 {
    width: 100%; }

  #headerBusinessandMeetings .panelHeaderBusinessMeetings {
    height: auto; }
    #headerBusinessandMeetings .panelHeaderBusinessMeetings h1 {
      font-size: 28px; }

  #whereAreWe {
    height: 55vh; }

  .room {
    height: auto; }

  #headerRooms .panelHeaderRooms {
    height: auto;
    padding-top: 2em; } }

/*# sourceMappingURL=style.css.map */
